.container {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.card {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}