.m-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: 1px solid lightblue;
    border-radius: 10px;
}

.m-card {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.card {
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.ticketNr {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.ticketContainers {
    display: flex;
    justify-content: space-between;
}

.ticketContainer {
    margin-right: 20px;
}